.container {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.formContainer {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 30%;
	row-gap: 10px;
}

* input {
	height: 30px;
}

.btn {
	height: 30px;
}